*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: "bebas";
    src: url(fonte/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(fonte/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: "open";
    src: url(fonte/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: "regular";
    src: url(fonte/OpenSans-Regular.ttf);
}
body
{
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.pgn-clique{
    width: 200px;
    height: 200px;
}
.pgn-clique img{
    width: 120px;
    height: 140px;
    margin-left: 50px;
    margin-top: 35px;
}
    
nav{
    transform: scale(1.3);
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #000;
    transition: transform 0.5s ease;
    
}
nav a:hover{
    transform: scale(1.1);
}
.empresas{
   display: flex;
   padding-right: 50px;
}
.empresas p{
    margin: 20px;
    font-family:"bebas";
    font-size: 20px;
    margin-top: 22px;
}
.linha-vertical {
    width: 2px;
    height: 15px; 
    background-color: #000;
    border: none;
    padding-top: 25px;
    margin-top: 14px;
    transform: rotate(180deg);
}
a .seta{
    transform: rotate(180deg);
    width: 25px;
    height: 35px;
    margin-top: 17px;
    margin-right: 20px;
}
.linha{
    background-color: #003479;
    height: 1px;
}

.imagem{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.imagem img{
    width: 15%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
    margin-top: 50px;
}
.descricao{
    padding-top: 30px;
    padding-left: 170px;
}
h1{
    font-size: 28px;
    font-family: "poppins";
}
.descricao h6{
    font-size: 20px;
    font-family: "poppins";
    color: #878484;
    padding-top: 10px;
    padding-bottom: 20px;
}

.descricao p{
    font-family: "open";
    font-size: 24px;
    color: #878484;;
}
.preto{
    color: #000;
}
.local {
    padding-top: 10px;
    display: flex;
    font-size: 14px;
    font-family: "open";
}
.local img{
    padding-right: 7px;
    width:22px;
    height: 25px;
}
.interesse{
    margin-top: 140px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}
.interesse h2{
    font-family: "regular";
    font-size: 25px;
    padding-bottom: 40px;
}
.flex{
    display: flex;
}

.container {
    display: flex;
    height: 600px;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
   margin-left: 350px;
   border: solid #000 1px;
}

.tele {
    padding-left: 60px;
}


footer{
    align-items: center;
    height: 200px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 200px;
    padding-left: 180px;
    font-family: "bebas";
    font-size: 18px;
    color: white;
    background-color: #003479;
}.icons{
    padding-top: 10px;
    letter-spacing: 15px;
    margin-bottom: 60px;
}
.icons img{
    width: 20px;
}
.forms{
    text-align: center;
    margin-top: 80px;
    margin-left: 50px;
}
.forms a{
    font-family: Arial, Helvetica, sans-serif;

}
.link{
    color: #003479;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    transition: font-size 0.3s ease;
}
.link:hover{
    font-size: 17px; 
}
.fixo{
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 1455px;
    margin-right: 50px;
    position: fixed;
    transition: transform 0.5s ease;

}
.fixo:hover{ 
    transform: scale(1.1);
}
.politica{
    height: 20px;
    background-color: #bcbcbc;
    margin-bottom: 0%;
}
.poli{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    margin-left: 700px;
}
