*{
    padding: 0;
    margin: 0;
    border: 0;
}
@font-face {
    font-family: "bebas";
    src: url(fonte/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(fonte/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: "open";
    src: url(fonte/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: "regular";
    src: url(fonte/OpenSans-Regular.ttf);
}
body
{
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.pgn-clique{
    width: 200px;
    height: 200px;
}
.pgn-clique img{
    width: 120px;
    height: 120px;
    margin-left: 50px;
    margin-top: 50px;
}
nav{
    transform: scale(1.3);
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #000;
    transition: transform 0.5s ease;
    
}
nav a:hover{
    transform: scale(1.1);
}
.empresas{
   display: flex;
   padding-right: 50px;
}
.empresas p{
    margin: 20px;
    font-family:"bebas";
    font-size: 20px;
    margin-top: 22px;
}
.linha-vertical {
    width: 2px;
    height: 15px; 
    background-color: #000;
    border: none;
    padding-top: 25px;
    margin-top: 14px;
    transform: rotate(180deg);
}
a .seta{
    transform: rotate(180deg);
    width: 25px;
    height: 35px;
    margin-top: 17px;
    margin-right: 20px;
}
.linha{
    background-color: #003479;
    height: 1px;
}

.container{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.espaco{
   padding-top: 40px;
}
.ibira{
    border: solid black 1px;
    width: 536px;
    height: 300px;
    margin-top: 50px;
    margin-left: 500px; 
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.ibira:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.ibira img{
    width: 40%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.ibira h2{
    margin-bottom: 1px;
    font-family: "bebas";
    font-size: 28px;
    letter-spacing: 1px;
}
.ibira p{
    font-family: "regular";
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.amanco{
    border: solid black 1px;
    width: 536px;
    height: 300px;
    margin-top: 50px;
    margin-left: 500px; 
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.amanco:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.amanco img{
    width: 40%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.amanco h2{
    font-family: "bebas";
    font-size: 28px;
    letter-spacing: 1px;
    justify-content: center;
}
.amanco p{
    font-family: "regular";
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 2px;
}
footer{
    align-items: center;
    height: 200px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 200px;
    padding-left: 180px;
    font-family: "bebas";
    font-size: 18px;
    color: white;
    background-color: #003479;
}.icons{
    padding-top: 10px;
    letter-spacing: 15px;
    margin-bottom: 60px;
}
.icons img{
    width: 20px;
}
.fixo{
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 1450px;
    margin-right: 50px;
    position: fixed;
    transition: transform 0.5s ease;

}
.fixo:hover{ 
    transform: scale(1.1);
}