*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: "bebas";
    src: url(fonte/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(fonte/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: "open";
    src: url(fonte/OpenSans-SemiBold.ttf);
}
header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.pgn-clique{
    width: 200px;
    height: 200px;
}
.pgn-clique img{
    width: 120px;
    height: 120px;
    margin-left: 50px;
    margin-top: 50px;
}
nav{
    transform: scale(1.3);
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #000;
    transition: transform 0.5s ease;
    
}
nav a:hover{
    transform: scale(1.1);
}
.empresas{
   display: flex;
   padding-right: 50px;
}
.empresas p{
    margin: 20px;
    font-family:"bebas";
    font-size: 20px;
    margin-top: 22px;
}
.linha-vertical {
    width: 2px;
    height: 15px; 
    background-color: #000;
    border: none;
    padding-top: 25px;
    margin-top: 14px;
    transform: rotate(180deg);
}
a .seta{
    transform: rotate(180deg);
    width: 25px;
    height: 35px;
    margin-top: 17px;
    margin-right: 20px;
}
.linha{
    background-color: #003479;
    height: 1px;
}
.imagem{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.imagem img{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 15%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.informar{
    border: solid black 1px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 10px;
    height: 260px;
    transition: transform 0.5s ease;
}
.informar:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.informar h1{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 20px;
    font-family: "poppins"
}
.informar p{
    
    padding-bottom: 8px;
    font-family: "open";
    color: #878484;
    font-size: 20px;
   
    margin-right: 20px;
}
.cinza{
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "poppins";
    color: #878484;
    margin-left: 30px;
    font-size: 18px;
}
.espaco{
    padding-top: 100px;
}
footer{
    align-items: center;
    height: 200px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 200px;
    padding-left: 180px;
    font-family: "bebas";
    font-size: 18px;
    color: white;
    background-color: #003479;
}
.icons{
    padding-top: 10px;
    letter-spacing: 15px;
}
.icons img{
    width: 20px;
}
.spc{
    margin-bottom: 150px;
}
.center{
    margin-top: 20px;
}
.fixo{
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 1450px;
    margin-right: 50px;
    position: fixed;
    transition: transform 0.5s ease;

}
.fixo:hover{ 
    transform: scale(1.1);
}
.politica{
    height: 20px;
    background-color: #bcbcbc;
    margin-bottom: 0%;
}
.poli{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    margin-left: 700px;
}
