*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: "bebas";
    src: url(fonte/BebasNeue-Regular.ttf);
}
.imagens{
    width: 15%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
    filter: grayscale(100%) brightness(0);
}
.container2{
    display: flex;
}
.curiosidades{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}
.container3{
    display: flex;
}
.perguntas{
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 200px;
    padding-left: 180px;
    font-family: "bebas";
    font-size: 18px;
    color: white;
    background-color: #003479;
    height: 200px;
}
footer .t{
    margin-top: 60px;
}
.icons{
    padding-top: 10px;
    letter-spacing: 25px;
}
.icons img{
    width: 25px;
    height: 25px;
    margin-top: 60px;
}
.imgEntrevista img{
    width: 25%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.imgApoio img{
    width: 45%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.icon1 img{
    width: 30px;
    height: 30px;
}
.icon2 img{
    width: 30px;
    height: 30px;
}
.icon3 img{
    width: 30px;
    height: 30px;
}