*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    overflow-x: hidden;

}
@font-face {
    font-family: "bebas";
    src: url(fonte/BebasNeue-Regular.ttf);
}
header{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.pgn-clique{
    width: 200px;
    height: 200px;
}
.pgn-clique img{
    width: 120px;
    height: 120px;
    margin-left: 50px;
    margin-top: 50px;
}
#azulC{
    color: #00c2cb
}
header h1{
    font-size: 35px;
    font-family: "bebas";
    letter-spacing: 1px;
}

.nome{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;


}
.informacoes{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.informacoes input{
    border: solid black 1px;
    border-radius: 6px;
    padding-top: 5px;
    width: 850px;
    height: 40px;
}
.nome p{
    font-size: 25px;
    padding-right: 760px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.informacoes a{
    text-decoration: none;
    color: #003479;
}
.faca{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 20px;
}
.faca p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
button{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #003479;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #00c2cb;
}
footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 200px;
    padding-left: 180px;
    font-family: "bebas";
    font-size: 18px;
    color: white;
    background-color: #003479;
    height: 200px;
}
footer .t{
    margin-top: 60px;
}
.icons{
    padding-top: 10px;
    letter-spacing: 25px;
}
.icons img{
    width: 25px;
    height: 25px;
    margin-top: 60px;
}
input{
    font-size: 20px;
    padding-left: 10px;
}

.vol{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center; 
}
.volt a {
    text-decoration: none;
    color: black;
    transition: transform 0.5s ease; 
}

.volt a:hover {
    transform: scale(1.5); 
}
.fixo{
    width: 45px;
    height: 45px;
    margin-top: 50px;
    margin-left: 1440px;
    margin-right: 50px;
    position: fixed;
    transition: transform 0.5s ease;
  }
  .fixo:hover{ 
    transform: scale(1.1);
  }
