*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'beba';
}
@font-face {
    font-family: 'beba';
    src: url(fonte/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'open' ;
    src: url(fonte/OpenSans-SemiBold.ttf);
}
.vagas{
    position: absolute;
    left: 1050px;
}
.barrinha2{
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    left: 1130px;
}
.barrinha1{
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    left: 1020px;
}
.nav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.logo{
    height: 200px;
}
.seta{
    height: 26px;
    position: absolute;
    left: 970px;
    top: 92px;
}
.empr{
    margin-right: 150px;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.linha{
    background-color: #003479;
    height: 1.5px;
}
h1{
    margin-top: 100px;
    font-family: 'open';
    text-align: center;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
}

/* Estilo da área exibida do dropdown */
.select-selected {
    background-color: #ffffff;
    color: #000;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo da lista de opções (dropdown) */
.select-items {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    z-index: 99;
}

/* Estilo das opções */
.select-items div {
    padding: 10px;
    cursor: pointer;
}

/* Muda a cor de fundo ao passar o mouse */
.select-items div:hover {
    background-color: #ffdd57;
}