*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
  overflow-x: hidden;
}
    @font-face {
        font-family: "bebas";
        src: url(fonte/BebasNeue-Regular.ttf);
    }
  

    .quadrado{
        justify-items: center;
        text-align: center;
        align-items: center;
        background-color: #003479;
        color: white;
        width: 50%;
        height: 800px;
        position: relative;
    }
    .quadrado h1{
        margin-bottom: 0px;
        font-family: "bebas";
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .quadrado p{
      margin-top: 10px;
    }
    #azulC{
        color: #00c2cb;
    }
    .quadrado p{
        font-size:  20px;
        width: 510px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 30px;
    }

  .imagemL{
    width: 200px;
    height: 200px;
    padding-left: 1470px;
    
    
  }
  input{
    padding-left: 5px;
    height: 30px;
    border: solid black 1px;
    border-radius: 5px;
    padding-top: 5px;
    width: 500px;
    justify-content: center;
    align-items: center;
  }
  .conte{
   display: flex;
  }
  .registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    width: 500px;
    margin-top: 180px;
    
  }
  .registro p{
    font-family: sans-serif;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .input2{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
   
  }
  .nome{
    margin-right: 50px;
    width: 510px;
  }
  .cpf{
    width: 310px;
    height: 30px;
  }
  .cpfL{
    width: 200px;
  }
  .nasciL{
    width: 200px;
  }
  

.ema{
    padding-top: 20px;
  margin-right:  130px;
}

.dados{
    text-align: left;
}
.oi{
margin-left: 50px;
}
.telefone{
    margin-left: 50px;
}

button{
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #003479;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00c2cb;
}
.notificacao {
  display: none; /* Escondida por padrão */
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #00c2cb;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease;
  opacity: 0;
  z-index: 1000;
}

.notificacao.mostrar {
  display: block; 
  opacity: 1; 
}
a .seta{
  transform: rotate(180deg);
  width: 20px;
  height: 30px;
  position: absolute;
  right: 700px;
  top: 50px;
}
nav{
  transform: scale(1.3);
}
nav a{
  text-decoration: none;
  color: #000;
  transition: transform 0.5s ease;
  
}
nav a:hover{
  transform: scale(1.1);
}
.vol{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute;
  left: 1045px;
  top: 770px;
  color: #000;
}
.fixo{
  width: 45px;
  height: 45px;
  margin-top: 350px;
  margin-left: 685px;
  margin-right: 50px;
  position: fixed;
  transition: transform 0.5s ease;

}
.fixo:hover{ 
  transform: scale(1.1);
}
.clique-inicial img{
  width: 200px;
  height: 200px;
  margin-left: 1500px;
}

