@font-face {
    font-family: "babes";
    src: url(fonte/BebasNeue-Regular.ttf);
}

header {
    background-image: url(img-semestral/Design\ sem\ nome\ \(1\).png);
    height: 600px;
    background-repeat: no-repeat;
    margin: 0%;
    width: auto;
    text-align: end;
    align-items: end;
    justify-content: end;
    padding-right: 100px;
    padding-top: 50px;
    
  

}
.logoTexto{
    font-size: 20px;
    font-family: "babes";
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 600px;
    padding-top: 0px;
    padding-left: 15px;
    width: 700px;

}
nav a{
    justify-content: end;
    color: black;
    font-size: 40px;
    text-decoration: none;
    padding-left: 10px;
    font-family: "babes";
}
#azulC{
    color: #00c2cb;
}
.heal{
    padding-left: 20px;
    width: 300px;
    height: 300px;
    padding-left: 20px;
    padding-right: 990px;
}
#a{
    
}
.sobre{
    padding-top: 40px;
    font-family: "babes";
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.textoS{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 100px;
    padding-left: 100px;
}
.espaco{
    padding: 5px;
}
.empresas{
    font-family: "babes";
    font-size: 30px;
    padding-top: 20px;
    letter-spacing: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logosE{
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 80px;
}
.logosE img{
    width: 200px;
    height: 150px;
}
.container{
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    max-width: 800px;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.texto{
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.fala{
    font-size: 20px;
}
.greta{
    width: 100px;
    height: 100px;
}
.fala img{
    width: 20px;
    height: 20px;
}
.autor{
    display: flex;
}
.autor img{
    width: 20px;
    height: 20px;
}